
*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display: flex;
    background: black;
}

#containerDiv{
margin:0;
display: flex;
}

.logo{
margin-top: 10px;
position: absolute;
z-index: 3;
opacity: 0.8;
margin-left: 5%;
}

#iconpic:hover{
 animation: bounce 1s ease-in infinite;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0px);}
  50%{
    transform: translateY(30px);}
}
  

.front{
margin-top: 50px;
position: absolute;
opacity: 0.8;
color: khaki;
font: bold 35px Comic Sans MS;
margin-left: 20%;
}

.front:hover{
 // transform: rotate(5deg);
opacity: 1;
  }

#main_section{
margin-top: 125px;
border: 1px solid olive;
border-radius: 25px;
width: 98%;
display: flex;
 flex-wrap: wrap;
padding: 20px;
 background: linear-gradient(khaki,white);
 box-shadow: 7px 7px 10px black;
opacity: 0.8;
}

#navDiv{
background:  #FFFFCC;
padding: 5px;
font-size: 40px;
color: gray;
opacity: 0.8;
}


.column{
float: left;
text-align: center;
color: olive;
padding-right: 50px;
padding-top: 30px;
	font: bold 22px Comic Sans MS;
text-shadow: 1px 1px 2px #000;
}





.column a{
text-decoration: none;
color: olive;
}


.column a:hover{
font-size: 23px;
 cursor: pointer;

}







/////////////////////////////////


.dropdown {
    position: relative;
   display: inline-block;
}


.dropbtn {
    background:#1c1c1c;
  //  color: #CCE5FF;
   color: khaki;
 padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;

}

.dropbtn:hover, .dropbtn:focus {
  
    font-size: 19px;
}


.dropdown-content {
 background:#1c1c1c;
    display: none;
    position: absolute;
    min-width: 75px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: white;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color:#CCE5FF;}

.show {display:block;}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
}
.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay p:hover, .overlay p:focus {
   color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px;}
  .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* preloader */
.track{
  width: 300px;
  height: 0px;
  // border-top: 8px dotted rgba(0,0,0,0.2);
border-top: 8px dotted wheat;

  display: inline-block;
}

.kurt{
 animation: moveChomp 5s linear infinite;
  width: 0px;
  height: 0px;
  position: relative;
  top: -15px;
 left: -15px;
}
  


.loader{

  background: none;
  display: inline-block;
  position: relative;
}


.loader:before, .loader:after{
    content: '';
    display: block;
    height: 0px;
    width: 0px;
 border: 30px solid yellow;
 //   border: 30px solid orangered;
    border-radius: 50%;
    border-right-color: transparent;
    position: absolute;
    border-bottom-color: transparent;
    top: 50%;
    margin-top: -34px;
    animation: topchomp 1s ease-in-out infinite reverse;
  
}

  .loader:after{
   // left: 80px;
    border-color: yellow;
    border-top-color: transparent;
    border-right-color: transparent;
   animation: bottomchomp 1s ease-in-out infinite;  
  
  }



@keyframes bottomchomp{
  0%, 100%{
    transform: rotate(10deg);}
  50%{
    transform: rotate(-50deg);}
  }



@keyframes topchomp{
  0%, 100%{ transform: rotate(-20deg);}
  50%{ transform: rotate(37deg);}
}
  

@keyframes moveChomp{
0%,100%{
        left: 0%;}
    50%{
        left: 100%;}
0%{
    transform: rotateY(90deg);}

3%, 47.5%{
    transform: rotateY(0deg);}

52.5%, 98%{
    transform: rotateY(180deg);}
100%{
    transform: rotateY(90deg);}
}


#loadingText{
color: yellow;
padding: 50px;
} 

#pacmanDiv{
    background: #000;
	opacity: 0.8;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
