*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	display: flex;
    background: black;
}




#containerDiv{
margin:0;
display: flex;

}

#wrapDiv{
margin-top: 130px;
width: 100%;
}

.logo{
margin-top: 0px;
position: absolute;
z-index: 3;
opacity: 0.8;
margin-left: 1%;
}

#iconpic:hover{
 animation: bounce 1s ease-in infinite;
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(0px);}
  50%{
    transform: translateY(30px);}
}
  

.front{
margin-top: 50px;
position: absolute;
opacity: 0.8;
color: khaki;
font: bold 35px Comic Sans MS;
margin-left: 20%;
text-shadow: 1px 0px 2px yellow;
}

.front:hover{
 // transform: rotate(5deg);
opacity: 1;
  }

#main_section{

position: relative;
border: 1px solid olive;
display: flex;
flex-wrap: wrap;
padding: 20px;
background: linear-gradient(khaki,white);
 box-shadow: 7px 7px 10px black;
opacity: 0.8; position: absolute;
z-index: -1;
}



.column{
float: left;
text-align: center;
color: olive;
padding-right: 50px;
padding-top: 30px;
	font: bold 22px Comic Sans MS;
text-shadow: 1px 1px 2px #000;
}




.column a{
text-decoration: none;
color: olive;
}


.column a:hover{
font-size: 23px;
 cursor: pointer;

}

#homeColumn{
margin-top: 100px;
}


#missionDiv{
width: 100%;
position: relative;
padding: 10px;
font-size: 22px;
color: khaki;
overflow: hidden;
z-index: -1;
opacity: 0.8;
}









.nav-side{
position: fixed;
z-index: 2;
margin-top: 135px;
width: 100%;
height: 700px;
max-width: 250px;
background: black;
box-sizing: border-box;
padding: 20px;
color: beige;
opacity: 0.9;
transition: left 1s linear 0s;
}

.nav-toggle{
position: absolute;
right: -70px;
top: 0;
width: 70px;
height: 30px;
background-color: black;
line-height: 30px;
text-decoration: none;
text-align: center;
border-bottom-right-radius: 3px;
opacity: 0.8;
box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
color: khaki;
font-size: 16px;
}


.nav-toggle:hover{
opacity: 1;
}
